body{
    background:#e7deb4;
    color:#1e1e1e;
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.container{
    margin:0 auto;            
    max-width:30rem;
    min-height:100vh;
}
button{
    font-weight:bold;
    background:blue;
    color:white;
    border:none;
    padding:0.5rem 1rem;
    text-transform:uppercase;
    border-radius:2.5px;
}
form,table,input{
    width:100%;
    overflow: none;
}



button:hover{
    font-weight:bold;
    background:rgba(0, 0, 255, 0.637);
    color:white;
    border:none;
    padding:0.5rem 1rem;
    text-transform:uppercase;
    border-radius:2.5px;
}

input[type=text]{
    border:none;
    padding:10px 5px;
    margin: 0.5rem 0rem;
}